body { background: #92fba; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 50px; display: flex; }
.block-invoice-0 { color: #fb3a1f; font-size: 17px; margin-bottom: 5px; }
.block-filter-1 { color: #b02efc; font-size: 21px; margin-bottom: 5px; }
.block-product-2 { color: #78d5be; font-size: 20px; margin-bottom: 5px; }
.block-search-3 { color: #11940; font-size: 20px; margin-bottom: 5px; }
.block-email-4 { color: #7d5a50; font-size: 19px; margin-bottom: 5px; }
.block-database-5 { color: #f9c583; font-size: 15px; margin-bottom: 5px; }
.block-notify-6 { color: #2c0ed9; font-size: 15px; margin-bottom: 5px; }
.block-database-7 { color: #a08942; font-size: 14px; margin-bottom: 5px; }
.block-token-8 { color: #28aa08; font-size: 15px; margin-bottom: 5px; }
.block-metrics-9 { color: #d107d; font-size: 17px; margin-bottom: 5px; }
.block-cache-10 { color: #e2f61; font-size: 18px; margin-bottom: 5px; }